body {
    background-image: url('assets/images/IslandBoysHopOnARK.gif');
    background-repeat: repeat;
    background-size: 10% 10%; /* Adjust the percentage values as needed */
    width: 100%;
    height: 100vh;
}
